import /tee.rc
import /trustonic.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    # pstore/ramoops previous console log
    mount pstore pstore /sys/fs/pstore nodev noexec nosuid
    chown system log /sys/fs/pstore/console-ramoops
    chmod 0440 /sys/fs/pstore/console-ramoops
    chown system log /sys/fs/pstore/console-ramoops-0
    chmod 0440 /sys/fs/pstore/console-ramoops-0
    chown system log /sys/fs/pstore/pmsg-ramoops-0
    chmod 0440 /sys/fs/pstore/pmsg-ramoops-0

    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
    setprop crypto.ready 1

on fs
on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

symlink /dev/block/platform/bootdevice /dev/block/bootdevice


on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    
    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_ufs_b

    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link
  
service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    oneshot
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-1-trustonic /vendor/bin/hw/android.hardware.keymaster@4.1-service.trustonic
    user root
    group root drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib
    disabled
    oneshot
    seclabel u:r:recovery:s0
#    interface android.hardware.keymaster@4.0::IKeymasterDevice default
#    interface android.hardware.keymaster@4.1::IKeymasterDevice default

service tee-1-1 /vendor/bin/hw/vendor.trustonic.tee@1.1-service
    class hal
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib
    disabled
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start vendor.keymaster-4-1-trustonic
    start gatekeeper-1-0
    start tee-1-1

on property:hwservicemanager.ready=true
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry ++ (FBE encrypted)"
    start mobicore
    write /proc/bootprof "MOBICORE: create /data/vendor/mcRegistry -- (FBE encrypted)"
    start vendor.keymaster-4-1-trustonic
    start gatekeeper-1-0
    start tee-1-1

on property:ro.crypto.state=unsupported
    stop mobicore
    stop vendor.keymaster-4-1-trustonic
    stop gatekeeper-1-0
    stop tee-1-1

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop vendor.keymaster-4-1-trustonic
    stop gatekeeper-1-0
    stop tee-1-1

on property:twrp.all.users.decrypted=true
    stop mobicore
    stop vendor.keymaster-4-1-trustonic
    stop gatekeeper-1-0
    stop tee-1-1

on boot
    start boot-hal-1-2
    start health-hal-2-1
    setprop sys.usb.config adb
